[Unit]
Description=device automounting application
#After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/udiskie
#Restart=always
#User=peter

[Install]
WantedBy=multi-user.target
